#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog --show-field=Version|rev|cut -d- -f2-|rev)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@ --with dkms

override_dh_install:
	dh_install src/* usr/src/eta-touchdrv-$(VERSION)/
ifeq ($(DEB_HOST_ARCH),amd64)
	dh_install bin/touch2/*x86_64 usr/bin/touch2/
	dh_install bin/touch4/*x86_64 usr/bin/touch4/
endif

ifeq ($(DEB_HOST_ARCH),arm64)
	dh_install bin/touch2/*aarch64 usr/bin/touch2/
	dh_install bin/touch4/*aarch64 usr/bin/touch4/
endif
	dh_install touchdrv_launcher usr/bin

override_dh_fixperms:
	chmod 744 debian/eta-touchdrv/usr/bin/touchdrv_launcher
	chmod 744 debian/eta-touchdrv/usr/bin/touch2/*
	chmod 744 debian/eta-touchdrv/usr/bin/touch4/*

override_dh_dkms:
	dh_dkms -V $(VERSION)
