# Optical devices (6615)
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", RUN+="/usr/bin/systemctl stop eta-touchdrv@touch2.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", ATTR{idProduct}=="0084", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch2.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", ATTR{idProduct}=="0085", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch2.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", ATTR{idProduct}=="0086", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch2.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", ATTR{idProduct}=="0087", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch2.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", ATTR{idProduct}=="0088", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch2.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="6615", ATTR{idProduct}=="0c20", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch2.service"

# OTD devices (2621)
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="2621", RUN+="/usr/bin/systemctl stop eta-touchdrv@touch4.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2621", ATTR{idProduct}=="2201", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch4.service"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2621", ATTR{idProduct}=="4501", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eta-touchdrv@touch4.service"
