Source: eta-touchdrv
Section: kernel
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), dh-sequence-dkms
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://git.pardus.org.tr

Package: eta-touchdrv
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Non-HID touchscreen drivers for Fatih IWBs
 These are drivers for non-HID 2-camera and 4-camera touchscreen sensors
 of Fatih Interactive White Boards. Kernel modules are open-source, but
 source code of server daemons are unavailable. They are provided by Vestel.
