[Unit]
Description=ETA Touch Driver Service (%I)
After=lightdm.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/touchdrv_launcher %i
Restart=on-failure
RestartSec=2
