[Unit]
Description=Non-HID touchscreen servers

[Service]
Type=simple
ExecStart=/usr/bin/touchdrv_install
Restart=on-failure
RestartSec=4s

[Install]
WantedBy=multi-user.target
