[Unit]
Description=Non-HID touchscreen servers

[Service]
Type=simple
ExecStart=/usr/bin/touchdrv_install
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
