#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog --show-field=Version|rev|cut -d- -f2-|rev)

%:
	dh $@ --with dkms

override_dh_install:
	dh_install src usr/src/eta-touchdrv-$(VERSION)/
	dh_install bin/touch2/* usr/bin/touch2/
	dh_install bin/touch4/* usr/bin/touch4/
	dh_install touchdrv_launcher usr/bin

override_dh_permissions:
	chmod 744 debian/eta-touchdrv/usr/bin/touchdrv_launcher
	chmod 744 debian/eta-touchdrv/usr/bin/touch2/*
	chmod 744 debian/eta-touchdrv/usr/bin/touch4/*

override_dh_dkms:
	dh_dkms -V $(VERSION)
